<h1>Password Generator</h1>
<div>
  <label for="">Password Length</label>
  <input
    type="number"
    (input)="onInputLength($event)"
    [value]="length"
  >
</div>
<div>
  <label for="">Use Letters</label>
  <input
    type="checkbox"
    (change)="onChangeUseLetters()"
    [defaultChecked]="true"
  >
</div>
<div>
  <label for="">Use Symbols</label>
  <input
    type="checkbox"
    (change)="onChangeUseSymbols()"
    [defaultChecked]="true"
  >
</div>
<div>
  <label for="">Use Numbers</label>
  <input
    type="checkbox"
    (change)="onChangeUseNumbers()"
    [defaultChecked]="true"
  >
</div>
<div>
  <button (click)="onButtonClick()">Generate Password</button>
  <input type="text" [value]="password">
</div>
