<h2>Тестирование</h2>
<p>
  процесс иследования, испытания продукта: <br>
  - соответствует требованиям и нуждам заказчика<br>
  - выявить неправильное поведение <br>
</p>
<hr>

<h2>Качество</h2>
<p>
  Это степень, с которой система соответствует требованиям пользователя
</p>
<hr>

<h2>Функциональное не функциональное тестирование</h2>
<p>
  <span>Функциональное</span> - проверка функциональных требований к характеристикам продукта <br>
  продукт обладает функционалом, требуемым заказчиком <br>
  - карандаш: пишет или нет<br>
  - руль: при повороте поворачивает колеса<br>
  - автомобиль: при включении передачи инажатии газ автомобиль начинает ехать <br>
  - интернет магазин: можем мы заказать товар и купить <br>
  <br>

  <span>Нефункциональное тестирование</span> - насколько хорошо, быстро и стабильно надежно работает система
  - карандаш: удобно ли писать, как долго можно писать, при каком усилии ломается грифель<br>
  - руль: удобно ли использовать, при каком усилии поворачивается <br>
  - автомобиль: длительные заезды <br>
  - интернет магазин: при одновременной покупе многими пользователями<br>
</p>
<hr>

<h2>Реляционная БД</h2>
<p>
  Данные с определенными связями между ними.<br>
  Организованны в виде набора таблиц из столбцов и строк.<br>
  В таблицах информация об объектах<br>
  <br>
  SQL структурированный язык запросов<br>
  Основной интерфейс работы с реляционными БД<br>
  SELECT * from
</p>
<hr>
<h2>HTTP status codes</h2>
<p>1xx - информационные (102 идет обработка)</p>
<p>2xx - успешно (200 OK)</p>
<p>3xx - редирект (304 NOT MODIFIED)</p>
<p>4xx - ошибка клиента (404) NOT FOUND</p>
<p>5xx - ошибка сервера (500) INTERNAL SERVER ERROR</p>

<hr>

<h2>Верификация Валидация</h2>
<p>Верификация - требования </p>
<p>Валидация - нужды заказчика</p>
<hr>

<h2>SDLC Software Development Life Cycle</h2>
<p>Создание и поддержание работоспособности ПО</p>
<p>1. Анализ Требований: цели задачи, сроки, стоимость, ТЗ (Manager, BA, Dev, QA)</p>
<p>2. Проектирование/архитектура (Архитектор, Developer)</p>
<p>3. Разработка/Рализация (Developer)</p>
<p>4. Тестирование - проверка соответствия продукта требованиям и нуждам заказчика</p>
<p> - проверка соответствия продукта требованиям и нуждам заказчика</p>
<p> - поиск и регистрация дефектов</p>
<p>5. Release / Deployment</p>
<p>6. Поддержка исправление девектов</p>
<hr>

