<h2>Тестирование</h2>
<p>
  процесс иследования, испытания продукта: <br>
  - соответствует требованиям и нуждам заказчика<br>
  - выявить неправильное поведение <br>
</p>
<hr>

<h2>Качество</h2>
<p>
  Это степень, с которой система соответствует требованиям пользователя
</p>
<hr>

<h2>Функциональное не функциональное тестирование</h2>
<p>
  <span>Функциональное</span> - проверка функциональных требований к характеристикам продукта <br>
  продукт обладает функционалом, требуемым заказчиком <br>
  - карандаш: пишет или нет<br>
  - руль: при повороте поворачивает колеса<br>
  - автомобиль: при включении передачи инажатии газ автомобиль начинает ехать <br>
  - интернет магазин: можем мы заказать товар и купить <br>
  <br>

  <span>Нефункциональное тестирование</span> - насколько хорошо, быстро и стабильно надежно работает система
  - карандаш: удобно ли писать, как долго можно писать, при каком усилии ломается грифель<br>
  - руль: удобно ли использовать, при каком усилии поворачивается <br>
  - автомобиль: длительные заезды <br>
  - интернет магазин: при одновременной покупе многими пользователями<br>
</p>
<hr>

<h2>Реляционная БД</h2>
<p>
  Данные с определенными связями между ними.
  Организованны в виде набора таблиц из столбцов и строк.
  В таблицах информация об объектах
</p>
