<div class="container">
  <div class="columns is-centered">
    <div class="box column is-one-third">
      <h1 class="title has-text-centered">Password Generator</h1>

      <div class="field">
        <label>Length</label>
        <input type="number"
               class="input"
               (input)="onChangeLength($event)"
               [value]="length"
               onkeydown="return event.keyCode !==69"
        >
      </div>

      <div class="field">
        <div class="control">
          <label class="checkbox">
            <input (change)="useLettersForPass()" type="checkbox" [defaultChecked]="true"/>
            Use Letters
          </label>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <label class="checkbox">
            <input (change)="useNumbersForPass()" type="checkbox"  [defaultChecked]="true" />
            Use Numbers
          </label>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <label class="checkbox">
            <input (change)="useSymbolsForPass()" type="checkbox"  [defaultChecked]="true" />
            Use Symbols
          </label>
        </div>
      </div>
      <button [disabled]="
          !(length && (includeLetters || includeSymbols || includeNumbers))
        " (click)="generatePassButtonClick()" class="button is-link is-fullwidth">
        Generate!
      </button>

      <div class="box" *ngIf="password">
        <label>Your Password</label>
        <input class="input" [value]="password" />
      </div>
    </div>
  </div>
</div>
<!--<div class="container">-->
<!--  <div class="columns is-centered">-->
<!--    <div class="box column is-one-third">-->
<!--      <h1 class="title has-text-centered">Password Generator</h1>-->
<!--      <div class="field">-->
<!--        <label>Length</label>-->
<!--          <input type="number"-->
<!--                 [value]="length"-->
<!--                 (input)="onChangeLength($event)"-->
<!--          >-->
<!--      </div>-->
<!--      <div class="field">-->
<!--        <div class="control">-->
<!--          <label class="checkbox">-->
<!--            <input-->
<!--              type="checkbox"-->
<!--              [defaultChecked]="true"-->
<!--              (change)="useLettersForPass()"-->
<!--            >-->
<!--            Letters-->
<!--          </label>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="field">-->
<!--        <label class="checkbox">-->
<!--          <input-->
<!--            class="checkbox"-->
<!--            type="checkbox"-->
<!--            [defaultChecked]="true"-->
<!--            (change)="useNumbersForPass()">-->
<!--          Numbers</label>-->
<!--      </div>-->
<!--      <div class="field">-->
<!--        <label class="checkbox">-->
<!--          <input-->
<!--            class="checkbox"-->
<!--            type="checkbox"-->
<!--            [defaultChecked]="true"-->
<!--            (change)="useSymbolsForPass()"-->
<!--          >-->
<!--          Symbols</label>-->
<!--      </div>-->
<!--      <div class="field">-->
<!--        <button [disabled]="!includeSymbols && !includeLetters && !includeNumbers " (click)="generatePassButtonClick()">Generate</button>-->
<!--        <input-->
<!--          type="text"-->
<!--          [value]="password">-->
<!--      </div>-->
<!--    </div>-->
<!--    </div>-->
<!--</div>-->
