<div class="container">
  <div class="columns is-centered">
    <div class="box column is-one-third">
      <h1 class="title has-text-centered">Password Generator</h1>
      <div class="field">
        <label>Length</label>
          <input type="number"
                 [value]="length"
                 (input)="onChangeLength($event)"
          >
      </div>
      <div class="field">
        <div class="control">
          <label class="checkbox">
            <input
              type="checkbox"
              [defaultChecked]="true"
              (change)="useLettersForPass()"
            >
            Letters
          </label>
        </div>
      </div>
      <div class="field">
        <label class="checkbox">
          <input
            class="checkbox"
            type="checkbox"
            [defaultChecked]="true"
            (change)="useNumbersForPass()">
          Numbers</label>
      </div>
      <div class="field">
        <label class="checkbox">
          <input
            class="checkbox"
            type="checkbox"
            [defaultChecked]="true"
            (change)="useSymbolsForPass()"
          >
          Symbols</label>
      </div>
      <div class="field">
        <button [disabled]="!includeSymbols && !includeLetters && !includeNumbers " (click)="generatePassButtonClick()">Generate</button>
        <input
          type="text"
          [value]="password">
      </div>
    </div>
    </div>
</div>
