<div>
  <h1>Password Generator</h1>
</div>
<div>
  <label>Length</label>
  <input type="number">
</div>
<div>
  <label>Letters</label>
  <input
    type="checkbox"
    checked="checked"
    (click)="useLettersForPass()">
</div>
<div>
  <label>Numbers</label>
  <input
    type="checkbox"
    checked="checked"
    (click)="useNumbersForPass()">
</div>
<div>
  <label>Symbols</label>
  <input
    type="checkbox"
    checked="checked"
    (click)="useSymbolsForPass()">
</div>
<div>
  <button (click)="generatePass()">Generate</button>
  <input
    type="text"
    [value]="generatedPassword">
</div>
