<h2>Password Generator</h2>

<div>
  <label>Length</label>
  <input (input)="onLengthChange($event)">
</div>
<div>
  <label>Use Letters</label>
  <input type="checkbox" (change)="onUseLetters()">
</div>
<div>
  <label>Use Symbols</label>
  <input type="checkbox" (change)="onUseSymbols()">
</div>
<div>
  <label>Use Numbers</label>
  <input type="checkbox" (change)="onUseNumber()">
</div>
<div>
  <button (click)="generatePass()">Generate</button>
</div>
<input type="text" [value]="password">
<div>
  {{useLetters}}
  {{useSymbols}}
  {{useNumbers}}
</div>
