<h1>Password Generator</h1>
<div>
  <label for="">Length</label>
  <input type="text">
</div>
<div>
  <label for="">Use Letters</label>
  <input type="checkbox" (change)="useLettersChange()">
</div>
<div>
  <label for="">Use Digits</label>
  <input type="checkbox" (change)="useDigitsChange()">
</div>
<div>
  <label for="">Use Symbols</label>
  <input type="checkbox"(change)="useSymbolsChange()" >
</div>
<button (click)="onButtonClick()">Generate</button>
<input type="text" [value]="getPassword()">
