<h1>Password Generator</h1>
<div>
  Password Length
  <input type="number"
         (input)="onLengthChanged($event)"
         [value]="length"
         onkeydown="return event.keyCode !== 69"
  >
</div>
<div>
  Use Letters
  <input type="checkbox"
         (change)="onUseLetters()"
         [defaultChecked]="true"
  >
</div>
<div>
  Use Numbers
  <input type="checkbox"
         (change)="onUseNumbers()"
         [defaultChecked]="true"
  >
</div>
<div>
  Use Symbols
  <input type="checkbox"
         (change)="onUseSymbols()"
         [defaultChecked]="true"
  >
</div>
<div>
  <button (click)="onButtonClick()"
          [disabled]="!useSymbols && !useNumbers && !useLetters"
  >
    Generate
  </button>
  <input type="text"
         [value]="password"
  >
</div>
