<h1>Password Generator</h1>
<div>
  <label for="">Length</label>
  <input
    type="number"
    (input)="onInputChanged($event)"
    [value]="length">
</div>
<div>
  <label for="">Use Letters</label>
  <input
    type="checkbox"
    (change)="onUseLettersChange()"
    [defaultChecked]="true"
  >
</div>
<div>
  <label for="">Use Numbers</label>
  <input
    type="checkbox"
    (change)="onUseNumbersChange()"
    [defaultChecked]="true"
  >
</div>
<div>
  <label for="">Use Symbols</label>
  <input
    type="checkbox"
    (change)="onUseSymbolsChange()"
    [defaultChecked]="true"
  >
</div>
<div>
  <button
    (click)="onButtonClick()"
    [disabled]="!useSymbols && !useNumbers && !useLetters">
    Generate
  </button>
</div>
<div>
  <label for="">Generated Password</label>
  <input type="text" [value]="getPassword()">
</div>
